.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	margin-bottom	: $size__default-bot-marg;
	background-color: $teal;
	text-align 		: center;

	.home & {

		@media only screen and (min-width: $bp__tablet) {
			overflow 		: visible;
			background-color: $transteal2;
		}
	}

	.logo2 {
		fill: $light;
	}

	.home & {
		margin-bottom: 0;
	}
}

.header-wrap {
	overflow: auto;
}

.site-branding {
	padding			: 1em;
	display 		: block;
	margin 			: 0 auto 1em;
	width 			: 100%;
	max-width 		: 375px;

	@media only screen and (min-width: $bp__menu-button+1) {
		padding : 0;
		margin	: 0 1em 0 0;
		display: inline-block;
		vertical-align: middle
	}

	@media only screen and (min-width: $bp__laptop) {
		float : left;
	}
}

.site-title {
	text-align: center;

	a {
		color 			: $color__text-site-title;
		text-decoration : none;
	}
}

.site-description {
	text-align: center;
}