$size__site-main		: 100%;
$size__site-sidebar		: 25%;

$size__default-bot-marg	: 1.5em;
$size__home-max 		: 960px;
$size__max-width 		: 1100px;
$size__footer-top 		: 200px;

$size__tree-pad-right-tab	: 140px;
$size__tree-pad-rightfull	: 230px;
$size__tree-pad-tablet 		: 308px;
$size__tree-pad-full 		: 450px;

$bp__header-menu 		: 525px;
$bp__menu-button		: 600px;
$bp__tablet				: 768px;
$bp__menu-full 			: 950px;
$bp__laptop				: 1024px;

