.main-navigation {
	clear			: both;
	display			: block;
	width			: 100%;
	font-family 	: $font__bebas;
	background-color: $transwhite;

	ul {
		@extend %listreset;
		display 	: none;

		@media only screen and (min-width: $bp__menu-full) {
			display 	: block;
			text-align	: center;
		}

		ul {
			display		: inherit;
			font-family : $font__main;

			@media only screen and (min-width: $bp__menu-full) {
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				position	: absolute;
				z-index		: 99999;
				transition 	: visibility 0s ease 0.3s,opacity 0.3s ease;
				visibility 	: hidden;
				opacity 	: 0;
				left 		: 0;
				background	: $color__bg-menu-item-mobile;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-full) {
					left: 100%;
					top	: 0;
				}
				a {

					@media only screen and (max-width: $bp__menu-full) {
						padding: 0.5em 3em;
						border-left: none;
					}
				}
			}

			li {

				@media only screen and (min-width: $bp__menu-full) {
					border-bottom 	: 1px solid $transwhite;
					width 			: 100%;
					font-size 		: 0.8em;
				}

				&:last-child {
					border-bottom: none;

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

				a:after {
					content: "";
				}

				&:hover {

					> a {
						color: $newyellow;
					}
				}
			}

			a {
				padding: 0.5em 2em;

				@media only screen and (min-width: $bp__menu-button+1) {
					padding 	: 0.5em;
				}

				@media only screen and (min-width: $bp__menu-full) {
					white-space : nowrap;
					color 		: $color__text-submenu;
					min-width 	: 200px;
				}
			}

		} // .submenu ul

	} // first-level ul

	li {

		@media only screen and (min-width: $bp__menu-full) {
			display 	: inline-block;
			position 	: relative;
			font-size 	: 1.5em;
		}

		&:hover {

			> ul {

				@media only screen and (min-width: $bp__menu-full) {
					display 	: block;
					visibility 	: visible;
					opacity 	: 1;
					background 	: $color__bg-menu-item-mobile;
				}
			}

			> a {
				color 		: $color__text-menu-mobile-hover;

				@media only screen and (min-width: $bp__menu-full) {
					color 		: $color__text-menu-hover;
				}
			}

			.caret-down {
				fill: $newpink;
			}

		}

		&:last-child {
			a:after {
				content: "";
			}
		}
	}

	a {
		padding 		: 0.5em;
		display			: block;
		text-decoration	: none;
		color 			: $color__text-menu-mobile;
		text-align 		: left;
		font-size 		: 1.25em;

		@media only screen and (min-width: $bp__menu-full) {
			padding-left 	: 0;
			font-size 		: 1em;
		}

		&:after {
			@media only screen and (min-width: $bp__menu-full) {
				content 	: "|";
				margin-left : 0.5em;
			}
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		> a {
			color: $color__text-menu-current;

			&:after {
				color: $color__text-menu-mobile;
			}
		}

		.caret-down {
			fill: $color__text-menu-current;
		}

		&:hover > a {
			color: $color__text-menu-current-hover;
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		.menu-main-menu-container {
			@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__menu-full) {
				transform: translateX(0);
			}

		}
	}
} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;

	@media only screen and (min-width: $bp__menu-button+1) and (max-width: $bp__menu-full) {
		position 		: fixed;
		top 			: 0;
		bottom 			: 0;
		left 			: 0;
		width 			: 275px;
		height 			: 100%;
		color 			: white;
		background-color: $transwhite;
		overflow 		: auto;
		padding-top 	: 3em;
		transition 		: transform 0.4s ease;
		transform 		: translateX(-275px);
		z-index 		: 9999;
	}
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;
	background		: $color__bg-menu-button-mobile;

	&:hover,
	&:active,
	&:focus {
		background		: $color__bg-menu-button-mobile;
	}

	@media only screen and (min-width: $bp__menu-full) {
		display 	: none;
		background 	: $color__bg-menu-button;
		color 		: $color__text-menu-button;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin	: 0 0 $size__default-bot-marg;
		overflow: hidden;
	}

	& .nav-previous {
		float	: left;
		width	: 50%;
	}

	& .nav-next {
		float		: right;
		text-align 	: right;
		width		: 50%;
	}
}

.menu-item-has-children {

	.caret-down {
		display 	: inline-block;
		height 		: 0.75em;
		margin-left : 0.25em;
		width 		: 0.75em;
		fill 		: $teal;
	}
}
