.attractions {

	.entry-title {
		margin-bottom: 0;
	}

	.entry-content {
		margin-top: 0;
	}

	.attraction-img {
		display 		: inline-block;
		vertical-align 	: top;
		width 			: 22.5%;
		margin-right 	: 4%;
		margin-top 		: 2.5em;
	}

	.type-attractions {
		display 		: inline-block;
		vertical-align 	: top;
		width 			: 72.5%;
	}
}

