.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin 		: 1.5em 0 0;
	word-wrap 	: break-word;
	hyphens 	: auto;
}

.page-links {
	clear 	: both;
	margin 	: 0 0 1.5em;
}

.site {
	background-color 	: $light;
	background-position : top center;
	background-repeat 	: no-repeat;

	.home & {

		@media only screen and (max-width: $bp__tablet - 1) {
			background-image: none !important;
		}
	}
}

.site-content {
	width 		: 100%;
	overflow 	: auto;
}

.content-wrap {
	padding: 0 !important;

	.home & {
		max-width 	: 100%;
		margin 		: 0;
	}

}

.content-area {
	width 		: 100%;
	overflow 	: auto;
	padding 	: 1em;

	.home & {
		padding: 0
	}

	&.content-sidebar,
	.single & {

		@extend %contentrees;

		@media only screen and (min-width: $bp__tablet) {
			width 			: 70%;
			margin 			: 0 2.5% 0 0;
			display 		: inline-block;
			vertical-align 	: top;
		}

	}

	&.sidebar-content {

		@media only screen and (min-width: $bp__tablet) {
			width 			: 70%;
			margin 			: 0 0 0 2.5%;
			display			: inline-block;
			vertical-align	: top;
		}
	}
}

.entry-title {
	font-family 	: $font__bebas;
}